.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.shadow-color {
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color);
}

.shadow-color-light {
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-color-light);
}
