/* Global styles */

/* Reset */
:root {
    --black: black;
    --white: white;
    --white-hover: hsl(0, 0%, 95%);

    --text-primary: hsl(175, 51%, 18%);
    --text-secondary: hsl(175, 10%, 46%);

    --primary-color: hsl(213, 38%, 50%);
    --primary-color-hover: hsl(213, 40%, 70%);

    --secondary-color: hsl(193, 42%, 74%);
    --secondary-color-hover: hsl(195, 36%, 91%);

    --border-color: var(--primary-color);
    --border-color-light: var(--primary-color-hover);

    --shadow-color: var(--secondary-color);
    --shadow-color-light: var(--secondary-color-hover);
}

:root.dark {
    --black: white;
    --white: black;
    --white-hover: hsl(0, 0%, 5%);

    --text-primary: hsl(175, 51%, 82%);
    --text-secondary: hsl(175, 10%, 54%);

    --primary-color: hsl(213, 38%, 50%);
    --primary-color-hover: hsl(213, 40%, 30%);

    --secondary-color: hsl(193, 42%, 36%);
    --secondary-color-hover: hsl(195, 36%, 19%);

    --border-color: var(--primary-color);
    --border-color-light: var(--primary-color-hover);

    --shadow-color: var(--secondary-color);
    --shadow-color-light: var(--secondary-color-hover);
}

html {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

body,
body * {
    --font-size: 16px;

    --border-width: 2px;
    --border-radius: 0.5rem;
    --border-radius-small: 0.25rem;
    --border-radius-full: 10rem;

    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-x-small: 2px;
    --shadow-y-small: 2px;

    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    font-size: var(--font-size);
    color: var(--text-primary);
    background-color: var(--white);
}

@media (max-width: 580px) {
    body,
    body * {
        --font-size: 14px;

        --shadow-x: 3px;
        --shadow-y: 3px;
        --shadow-x-small: 1.5px;
        --shadow-y-small: 1.5px;

        font-size: var(--font-size);
    }
}

body {
    overflow-y: auto;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin: 0;
    padding: 1rem 2rem;
}

@media (max-width: 580px) {
    body {
        padding: 0.5rem 1rem;
    }
}

header,
main,
footer {
    max-width: 800px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header h1 a {
    text-decoration: none;
}

main {
    flex: 1 1 0%;
}

footer {
    text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
    border-radius: var(--border-radius);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 85%);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    margin: 0;
}

h1 * {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}
