/* Global styles */

/* Reset */
html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    overflow-y: auto;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    font-family: Inter, Arial, sans-serif;
    font-size: 16px;

    margin: 0;
    padding: 1rem 2rem;
}

header,
main,
footer {
    max-width: 800px;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

main {
    flex: 1 1 0%;
}

footer {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
    margin: 0;
}
