.toggleEyes {
    position: absolute;
}

.closed-eye,
.opened-eye {
    height: fit-content;
    width: fit-content;

    padding: 4px 10px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: var(--border-radius-small);
    background-color: transparent;
    transition: background-color 150ms;
}

.closed-eye:hover,
.opened-eye:hover {
    background-color: var(--secondary-color-hover);
    transition: background-color 150ms;
}